extends layout

block content
    .container
      h1 BomberMano
        sup
          small beta
      form.form-inline
        .input-group
          input.form-control#entrada-personagem(type='text', value='csguth', placeholder='personagem')
        .input-group
          button.btn.btn-info#entrada-conectar
      canvas(width='400', height='400')
