extends layout

block content
    .container
      h1 BomberMano
        sup
          small beta
      canvas(width='1080', height='400')
      h2 Controles
      ul
        li
          span.label.label-info Setas
          |  Movimento
        li
          span.label.label-success Espaço
          |  Bomba 
          span.label.label-danger nao implementado
